@CHARSET "UTF-8"; 
.returnTop{
    position:fixed;
    bottom:80px;
    right:0;
    display:none;
}
 
.ad_cell{
	position: relative;
	width: 250px;
	height: 250px;
	float: left;
	margin: 5px;
	z-index: 1;
}

.ads{
	background-color: #fde0d8;
	width: 1300px;
	margin:0 auto;
	padding: 5px;
}
.adpost_none img{
	width: 1300px;
}
.info{
	font-size: 16px;
	margin: 20px 100px;
}
.info span{
	margin: 0 10px;
}
.info span em{
	color: #FFAA8C;
	font-weight: bold;
}
