/* CSS Document */

body{font-size:14px;font-family:Tahoma;font-family:Arial, Hel,Microsoft YaHei; color:#CCCCCC;}

.info{color:#CCCCCC; margin:0 auto; text-align:center; position:fixed; bottom:20px; width:100%;}


