@charset "utf-8";/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea{margin:0;padding:0;font-weight:normal;font-family:inherit; }
ol,ul,li{list-style:none;}
img{margin:0;padding:0;border:none}
table{border-collapse:collapse;}
.cls{clear:both;}
.notxt{text-indent:-9999px;}
body{font-size:14px;font-family:Tahoma;font-family:Arial, Hel,Microsoft YaHei;}
a{color:#666666;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#FF9900;}
i { font-style:normal;}

.nav {margin:0 auto; position:relative; margin-left:5px;}
.nav  ul li {float:left;padding:0 30px;text-align:center;height:30px;line-height:30px;}
.curBg { background:#FAA07D;height:2px;position:absolute;bottom:0;width:68px;left:0px;}
.login {float:right;}

<!--logo css-->
.logo { margin:0 auto; text-align:center; opacity:1;}

<!-- search css -->
.search_form{position:relative; height:31px; margin:0 auto;display:inline-block;} 
.search_form:hover{-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999} 
.sinput{width:400px; height:21px; line-height:21px; padding:4px 7px; color:b3b3b3;  border:1px solid #999; border-radius:2px 0 0 2px; background-color:#fbfbfb; margin-top:10px;} 
.sbtn{float:left; width:100px; height:31px; padding:0 12px; margin-left:-1px;  border-radius:0 2px 2px 0; border:1px solid #3c3c3c; background-color:#3c3c3c; cursor:pointer;  display:inline-block; font-size:12px; vertical-align:middle; color:#f3f7fc;position:absolute; margin-top:10px;} 
.sbtn:hover{background:#666666}

.search{text-align:center; margin:0 auto; margin-top:0px}

.post{margin-top:20px;}

.homepage_search {position:fixed; top:30px; width:100%; z-index:1;}

.background {background-color:#FFFFFF; opacity:0.5; position:fixed; top:20px; width:100%; height:280px; }
<!--background-image:url(../images/bg3.jpg); background-repeat:repeat;