@CHARSET "UTF-8";
@charset "utf-8";/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea{ margin:0; padding:0;font-weight:normal;font-family:inherit}
ol,ul,li{list-style:none;}
img{margin:0;padding:0;border:none}
table{border-collapse:collapse;}
.cls{clear:both;}
.notxt{text-indent:-9999px;}
body{font-size:14px;font-family:Tahoma;font-family:Arial, Hel,Microsoft YaHei;}
a{color:#666666;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#FF9900;}
i { font-style:normal;}

.nav {margin:0 auto; position:relative; background-color:#F3F3F3; margin-bottom:10px;}
.nav  ul li {float:left;padding:0 40px;text-align:center;height:30px;line-height:30px;}
.curBg { background:#FAA07D;height:2px;position:absolute;bottom:0;width:68px;left:0px;}

<!--logo css-->
.logo {width:1000px; height:1000px; margin:0 auto; text-align:center; margin-top:50px}

<!-- search css -->
.search_form{position:relative; height:31px; margin:0 auto;display:inline-block;} 
.search_form:hover{-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999} 
.sinput{width:400px; height:31px; line-height:21px; padding:4px 7px; color:#333333;  border:1px solid #999; border-radius:2px 0 0 2px; background-color:#fbfbfb; margin-top:10px; font-size:16px;} 
.sbtn{float:left; width:100px; height:31px; padding:0 12px; margin-left:-1px;  border-radius:0 2px 2px 0; border:1px solid #3c3c3c; background-color:#3c3c3c; cursor:pointer;  display:inline-block; font-size:12px; vertical-align:middle; color:#f3f7fc;position:absolute; margin-top:10px;} 
.sbtn:hover{background:#666666}
.search{text-align:center; margin:0 auto;}
.unitType{margin-top:20px;}

.nav{color:#666666;}
#user{ height:30px;}
#userRoot p{background-color:#999999; width:120px; height:30px; z-index:9999;}
#userRoot a{color:#FFFFFF;}
#userRoot a:hover{color:#FF9900;}
#edit p{background-color:#999999; width:120px;  height:30px;}
#edit a{color:#FFFFFF;}
#edit a:hover{color:#FF9900;}


#top{ position:relative; z-index:999;}
