<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>FunctionNameFilter</filter-name>
    <filter-class>filter.FunctionNameFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
     <servlet-name>AdminManagerLogical</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>FunctionNameFilter</filter-name>
    <servlet-name>PostLogical</servlet-name>
    <servlet-name>UserLogical</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>logicalConduct.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostLogical</servlet-name>
    <servlet-class>logicalConduct.PostLogical</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminManagerLogical</servlet-name>
    <servlet-class>logicalConduct.AdminManagerLogical</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogical</servlet-name>
    <servlet-class>logicalConduct.UserLogical</servlet-class>
  </servlet>
   <servlet>
     <servlet-name>APIServlet</servlet-name>
    <servlet-class>com.wy.api.APIServlet</servlet-class>
  </servlet>
    <servlet>   
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>com.wy.api.TypeServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>APIServlet</servlet-name>
    <url-pattern>/APIServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostLogical</servlet-name>
    <url-pattern>/PostLogical</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogical</servlet-name>
    <url-pattern>/UserLogical</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdminManagerLogical</servlet-name>
    <url-pattern>/AdminManagerLogical</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
        <session-timeout>600000</session-timeout>
  </session-config>
</web-app>